[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
pandas = "*"
geopandas = "*"
matplotlib = "*"
descartes = "*"
scikit-learn = "*"
gensim = "*"
jupyter-contrib-nbextensions = "*"
xgboost = "*"
hyperopt = "*"
keras = "*"
tensorflow = "*"
wikipedia = "*"
nyoka = "*"
boruta = "*"
tabulate = "*"
seaborn = "*"
numpy = "*"

[requires]
python_version = "3.8"
